@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
    background-color: #243030;
}

/***** NavBar *****/

.navbar-brand img {
    width: 50px;
}

.coloured {
    padding: 15vh 4vw 0vh;
    background-color: #243030;
}

.mainContent {
    margin: 5% 0% 0% 0%;
    color: #fff;
    text-align: left;
}

.nameHeader,
.paraHeader {
    text-align: left;
    padding: 5px 20px;
}

.nameHeader {
    font-size: 48px;
    font-weight: 900;
}

.paraHeader {
    font-size: 28px;
    font-weight: 500;
}

.btn {
    margin-top: 5%;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    font-size: 24px;
    background: #5ce1e6;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-left: 3%;
}

.btn:hover {
    background: #0cc0df;
    text-decoration: none;
}

.btn a{
    text-decoration: none;
    color: #fff;
}

/***** Animation *****/

.typewiter p {
    font-size: 5em;
    color: white;
    text-transform: uppercase;
}

.typewriter span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

.icons {
    padding: 3%;
}

.fa-brands ,.fa-solid {
    text-align: left;
    font-size: 28px;
    color: #5ce1e6;
    padding: 5px;
    /* margin: 5px; */
}

.fa-brands:hover{
    color: #0cc0df;
}

@media (max-width: 426px) {
    .coloured{
        padding: 5vh 4vw;
        height: 100vw;
        text-align: justify;
    }

    .graphicImg{
        text-align: right;
        margin: 25% auto 0%;
        width: 80%;
    }
  }